._text-active {
    color: var(--color-accent);
}

._button-active {
    background-color: var(--color-accent);
}

._to-front {
    z-index: 1000;
}

._pulse {
    animation: pulse 2s ease;
}

._visible {
    display: block;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(0.5);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}
